form{
    display: flex;
    flex-direction: column;
}

button{
    margin: 20px 15px 0px 0px;
}

.container-buttons{
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 20px;

    align-items: center;
    justify-content: center;
}

.cadastro{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 10px;
    max-width: 800px;

    flex-direction: column;
}

.cadastroLogin{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 10px;
    max-width: 800px;

    flex-direction: column;
}

.campos{
    display: flex;
    flex-direction: row;
}

.corpo{
    background-image: linear-gradient(180deg, #00cbff 0, #00a4e8 25%, #007db2 50%, #16587f 75%, #153851 100%);
    border-radius: 0px;
}