body{
    background-color: rgb(212, 212, 212);
}

form{
    display: flex;
    flex-direction: column;
}

button{
    margin: 20px 15px 0px 0px;
}

.title{
    display: flex;
    text-align: center;
    position: absolute;
    top: 10px;

    flex-direction: column;
}

.cardVendaPlano{
    display: flex;

    flex-direction: column;
    align-items: center;
}

.cardVenda{
    display: flex;

    margin-right: 20px;
    flex-direction: column;
    align-items: center;
}

.container-buttons{
    display: flex;
}

.btnFinalizar{
    position: absolute;

    left: 78px;
    bottom: 45px;
}

.formularios{
    display: flex;
    position: relative;

    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, #00cbff 0, #00a4e8 25%, #007db2 50%, #16587f 75%, #153851 100%);
    height: 1000px;
    border-radius: 0px;
}

.cadastro{
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 800px;

    margin-top: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

