.footer{
    bottom:0;

    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient(355deg, #1285bc 0, #1c6995 50%, #1d4f70 100%);
}

.footer > span{
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 300;
}