ul{
    margin: 0px;
    padding: 0px;
}

.home{
    width: 100%;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #FFF;
    border-bottom: 5px solid rgb(253,71,85);
}

.header_home{
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn_link {
    display: flex;

    margin: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn_cadastro {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(253,71,85);
}

.listar-venda-planos{
    width: 100%;
    height: 100%;
}

.logo:focus{
    outline: none;
    box-shadow: none;
}

.recibo{
    display:flex;
    flex-direction: column;
    width: 40%;
    margin-bottom: 30px;
}
.entrega{
    display:flex;
    flex-direction: column;
    width: 30%;
    height: 70%;
}

.dados-entrega{
    margin: 0px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 70%;

    max-height: 400px;
}

.title{
    text-align: center;
}

h3.title-dados{
    margin: 5px 0px 0px 0px;
    font-size: 11px;
    color: rgb(253,71,85)
}

p.paragrafo{
    margin: 0px;
    color: rgb(163, 163, 163);
    margin-left: 2px;
    font-size: 13px;
}

p.paragrafo-consumidor{
    margin: 0px;
    color: rgb(163, 163, 163);
    margin-left: 5px;
    font-size: 10px;
}

h3.title-dados-cabecalho-recibo{
    margin: 0px;
    font-size: 11px;
    color: rgb(253,71,85)
}

.status-pagamento{
    display:flex;
    flex-direction: column;
    align-items: center;

    width: 30%;
    height: 70%;
}

.box-recibo{
    width: 100%;

    border: 2px solid rgb(253,71,85);
}

.dados-status-pagamento{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.cabecalho-recibo{
    display:flex;
    justify-content: space-between;
    padding: 0px;
}

.primeiro-ul-cabecalho-recibo{
    margin-left: 5px;
}

.segundo-ul-cabecalho-recibo{
    margin-right: 5px;
}

.dados-plano-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px 0px 5px;
    flex-wrap: wrap;

    border-top: 1.7px solid rgb(136, 136, 136);
    border-bottom: 1.7px solid rgb(136, 136, 136);
}

.dados-plano-header > ul > h3{
    margin: 0px 25px 0px 0px;
    color: rgb(163, 163, 163);
    font-size: 0.9rem;
}

.dados-plano-header > ul > p{
    margin: 0px 25px 0px 0px;
    color: rgb(163, 163, 163);
    font-size: 0.85rem;
}
.dados-plano-header > ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-dados-vt-recibo{
    font-size: 14px;
    color: rgb(253,71,85)
}

.vt-recibo{
    margin-left: 70%;
    display: flex;
    padding: 0px;

    align-items: center;
    justify-content: center
}

.paragrafo-vt-recibo{
    color: rgb(163, 163, 163);
    font-size: 11px;
    margin-left: 15px;
    padding: 0px;
}

.container-dados-venda{
    width: 100%;
    height: 100%;
    display: flex;
}