<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem Vindo!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema de vendas de serviços de telecomunicações.
    </mat-card-subtitle>
</mat-card>
<div class="container">
    <div class="cadastro">
        <h1>Faça seu Cadastro</h1>
        <button mat-raised-button routerLink="/crud-cliente" class="btn_cadastro" color="primary">Cadastrar</button>
    </div>
    <div class="inserir_plano">
        <h1>Compre um de nossos serviços!</h1>
        <button mat-raised-button routerLink="/crud-product" class="btn_cadastro" color="primary">Comprar Planos</button>
    </div>
</div>