.home {
    margin-bottom: 10px;
    margin: 0;
    background-color: #FFF;
}

.home .title {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
}

.home .subtitle {
    font-size: 1.1rem;
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
}

.container {
    display: flex;
    position: relative;
    width: 1699px;
    height: 682px;
    background-image: linear-gradient(180deg, #00cbff 0, #00a4e8 25%, #007db2 50%, #16587f 75%, #153851 100%);
    align-items: center;
    justify-content: center;
}

.cadastro {
    margin: 50px;
}

.inserir_plano {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn_cadastro {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #00e676;
}