<mat-card class="home">
    <div class="header">
        <img src="../../../assets/logo.PNG" alt="logo">
        <p class="header_home">Seja bem vindo sr(a) <img src="../../../assets/user.PNG"></p>
    </div>
    <div class="container">
        <div class="cadastro">
            <h1>Faça seu Cadastro</h1>
            <button mat-raised-button routerLink="/crud-cliente" class="btn_cadastro" color="primary">Cadastrar</button>
        </div>
        <div class="inserir_plano">
            <h1>Compre um de nossos serviços!</h1>
            <button mat-raised-button routerLink="/crud-product" class="btn_cadastro" color="primary">Comprar
                Planos</button>
        </div>
    </div>
</mat-card>