.container{
    background-color: #00838f;
}

.sidenav{
    background-color: #00838f;
    width: 200px;
}

.sidenav a{
    color: #FFF;
}

.sidenav i{
    padding-right: 10px;
}

.content{
    position: relative;
    background-color: #FFF;
}