.container{
    padding-top: 62px;
}

.sidenav{
    background-image: radial-gradient(circle at 47.75% 58.4%, #304140 0, #293230 25%, #1f1f1f 50%, #140b0e 75%, #070000 100%);
    width: 200px;
}

.sidenav a{
    color: #FFF;
}

.sidenav i{
    padding-right: 10px;
}

.content{
    position: relative;
    background-color: #FFF;
}