.header{
    display:flex;
    align-items: center;
    background-color: #FFF;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.header .logo{
    max-height: 64px;
    background-color: #FFF;
}

.material-icons{
    padding-left: 20px;
}