<mat-card class="home">
    <div class="content">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-login">
        <img class="logo" src="../../../assets/logo_celular.PNG" alt="logo" routerLink="/">
        <mat-form-field>
            <input matInput type="text" id="loginFormUser" formControlName="username" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Name">
        </mat-form-field>
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">{{'Username is required'| translate }}</div>
        </div>

        <mat-form-field>
            <input matInput type="password" id="loginFormPassword" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password">
        </mat-form-field>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">{{'Password is required'| translate }}</div>
        </div>

    </form>
    </div>
    <div class="container">
        <a class="forgot-password" (click)="navigateToRecuperarSenha()">Esqueci minha senha</a>
        <button mat-raised-button class="btn_login" color="primary">
            Logar
        </button>
    </div>
</mat-card>