<mat-card class="home">
    <div class="header">
        <img src="../../../assets/logo.PNG" alt="logo">
        <p class="header_home">Seja bem vindo sr(a) <img src="../../../assets/user.PNG"></p>
    </div>
    <div class="container">
        <div class="btn_link">
            <button *ngIf="!getPermissao()" mat-raised-button routerLink="/crud-product" class="btn_cadastro" color="primary">Comprar
                Planos</button>
        </div>
        <div class="btn_link">
            <button mat-raised-button routerLink="/acompanhamento-de-pedido" class="btn_cadastro" color="primary">Acompanhar Pedidos</button>
        </div>
    </div>
</mat-card>