<mat-card class="home">
    <div class="header">
        <img class="logo" src="../../../assets/logo.PNG" alt="logo" routerLink="/">
        <p class="header_home">Seja bem vindo sr(a) <img src="../../../assets/user.PNG"></p>
    </div>
    <div class="container">
        <div *ngIf="getPermissao()" class="img_link" routerLink="/relatórios/relatório-vendas">
            <div class="img-div">
                <img  class="img" src="../../../assets/relatorio-de-vendas.svg" alt="relatório-de-vendas">
            </div>
            <p class="ação">Gerar Relatórios</p>
        </div>
    </div>
</mat-card>