<mat-card class="home">
    <div class="header">
        <img src="../../../assets/logo.PNG" alt="logo">
        <p class="header_home">Seja bem vindo sr(a) <img src="../../../assets/user.PNG"></p>
    </div>
    <div class="container">
        <div>
            <textarea class="txt_contrato" cols="100" rows="25">Por este instrumento particular de Contrato de Prestacao de Servicos, entre si fazem:

                DE UM LADO:
                
                A firma......................pessoa jurídica devidamente inscrita no C.G.C.(M.F.) sob nº........................com escritório na Rua......... na cidade de............ Estado do Paraná, fone (.....)........., CEP nº......, representada, neste ato, pelo senhor,...................., de nacionalidade ..................., estado civil.................., exercendo o cargo de portador da cédula de identidade R.G. nº.............., inscrito no CPF sob nº...................residente e domiciliado na................... na cidade de ................. Estado .......... fone(.....)..............CEP nº ..........., AQUI DENOMINADA CONTRATANTE.
                
                DE OUTRO LADO:
                
                A firma, ................... pessoa jurídica devidamente inscrita no C.G.C.(M.F.) sob nº.............., com escritório na............. na cidade de ................ Estado do .............fone(.....)................., CEP ..............., dedicada ao trabalho de PRESTAÇÃO DE SERVIÇOS............, representada neste ato, pelo senhor................., de nacionalidade ................, estado civil, exercendo a função de ............, portador da cédula de identidade R.G. nº ..................., inscrito no CPF sob nº ..........., residente e domiciliado na ..................... na cidade de ............., Estado do .................., fone(....)........., CEP.........., aqui denominada CONTRATADA, os quais ajustam-se e se subordinam ao determinado pelas cláusulas abaixo:
                
                CLÁUSULA PRIMEIRA: (Compromisso de Trabalho)
                
                A CONTRATADA compromete-se, pelo presente instrumento particular, a executar para a CONTRATANTE trabalhos de .................., devendo, para isso,.................................................... .
                
                CLÁUSULA SEGUNDA: (Prazo de Contrato)
                
                O prazo de duração do presente contrato é de ........... dias, iniciadas em ...... de............ de........., devendo encerrar-se em ..../........./.... .
                
                CLÁUSULA TERCEIRA: (Custo do Trabalho)
                
                A CONTRATANTE pagará à CONTRATADA a importância de ...........(........) hoje totalizando R$.............. por mês, até o dia ............ do mês subsequente, mediante recibo quitado.
                
                CLÁUSULA QUARTA: (Tipo de Assessoria)
                
                Os trabalhos de .................serão prestados pela CONTRATADA e CONTRATANTE, dentro de ............... a serem previamente designados.
                
                CLÁUSULA QUINTA: (Rescisão Contratual)
                
                Este contrato poderá ser rescindido por ambas as partes dentro do período contratado, sem ônus ou penalidade, devendo, todavia, ser pago o período efetivamente trabalhado.
                
                CLÁUSULA SEXTA: (Prorrogação de Contrato)
                
                Este contrato poderá ser prorrogado quanto ao prazo previsto na cláusula segunda, desde que ambas as partes estejam de acordo com a nova condição.
                
                CLÁUSULA SETIMA: (Questões Judiciais)
                
                Fica o Foro da Comarca de Maringá, Estado do Paraná, para todas e quaisquer questões judiciais decorrentes deste Instrumento Particular.
                
                E, por estarem justos e contratados, datam e assinam o presente instrumento em 03 (três) vias de igual teor e forma, perante as testemunhas abaixo nomeadas, para que produza os seus devidos e legais efeitos e por isso prometem cumprir e fazer cumprir - bem e fielmente o que nele contém.
                
                Maringá,.... de ............... de 199....
                
                
                CONTRATANTE
                
                CONTRATADA
                
                
                Testemunhas:
                
                --------------------------------
                
                NOME
                
                CPF
                
                --------------------------------
                
                NOME
                
                CPF
                ---------------------------------------------------------------------
                Ao Clicar em finalizar você aceita todos os termos deste contrato!!!
            </textarea>
        </div>
        <div class="buttons">
            <div>
                <button mat-raised-button class="btn_link" (click)="alertarFinalizar()" color="primary">Finalizar</button>
            </div>
            <div>
                <button mat-raised-button class="btn_link" (click)="alertarCancelar()" color="primary">Cancelar</button>
            </div>
        </div>
    </div>
</mat-card>