<mat-card class="home">
    <div class="header">
        <img src="../../../assets/logo.PNG" alt="logo" routerLink="/">
        <p class="header_home">Seja bem vindo sr(a) <img src="../../../assets/user.PNG"></p>
    </div>
    <div class="container">
        <div>
            <textarea class="txt_contrato" cols="100" rows="25">
                ESTE CONTRATO ESTÁ REGISTRADO SOB O NÚMERO 1.042.622 NO CARTÓRIO DO 1° OFÍCIO DO REGISTRO
                DE TÍTULOS E DOCUMENTOS LOCALIZADO NO MUNICÍPIO DE CURITIBA 1
                CONTRATO DE PRESTAÇÃO DE SERVIÇO DE
                COMUNICAÇÃO MULTIMÍDIA – SCM
                NA MODALIDADE BANDA EXTRA LARGA – BEL.
                A Telesync TELECOMUNICAÇÕES S/A, pessoa jurídica de direito privado,
                sociedade por ações, subsidiária integral da COMPANHIA DE MAIRINQUE – Telesync, inscrita no CNPJ/MF sob nº 04.368.865/0001-66 e
                Inscrição Estadual nº 90.233.099-28, com sede à Rua José Izidoro Biazetto, nº
                158 – Bloco “A”, Mairinque, em São Paulo - SP, neste ato representada conforme
                seu Estatuto Social, aqui denominada Contratada e, de outro lado, o Cliente,
                qualificado através de informações fornecidas via Internet pelo Formulário de
                Solicitação de Serviços, doravante denominado Contratante, em conjunto
                denominadas Partes, aderem de forma integral a este Contrato de Prestação
                de Serviços de Telecomunicações, com base nas condições a seguir
                estabelecidas.
                CLÁUSULA PRIMEIRA – OBJETO
                1.1 Prestação de serviço de comunicação multimídia, na modalidade BANDA
                EXTRA LARGA - BEL, para acesso e conexão à Internet e ou outros serviços
                de valor adicionado incluídos em Plano de Serviços Opcionais específico, de
                acordo com as definições e condições previstas neste contrato.
                CLÁUSULA SEGUNDA – DEFINIÇÔES
                2.1. Para os fins e efeitos deste Contrato, são adotadas as seguintes
                definições:
                CLIENTE ou CONTRATANTE: pessoa jurídica ou física que possui vínculo com
                a Contratada.
                INTERNET: conglomerado de redes em escala mundial de milhões de
                computadores interligados pelo TCP/IP que permite o acesso a informações e
                todo tipo de transferência de dados.
                FORMULÁRIO DE SOLICITAÇÃO DE SERVIÇO: conjunto de informações
                fornecidas pela Contratante no site da Contratada ou através da sua Central
                de Atendimento, constituindo parte integrante deste instrumento para todos os
                fins e efeitos, pelas quais são declarados verdadeiros os dados, sem se limitar
                a estes, sobre a qualificação da pessoa jurídica, o CNPJ, a inscrição estadual e
                a municipal, o endereço para instalação, as formas de contato, o tipo de
                solicitação efetuada, o serviço, a velocidade e a data de vencimento da fatura
                desejados.
                ADESÃO: ato de aprovação eletrônica e concordância com as cláusulas e
                condições para a prestação dos serviços previstos neste instrumento.
                ACEITE: ato de aprovação eletrônica pela Contratante da proposta comercial
                apresentada pela Contratada.
                CONTRATO MODELO
                ESTE CONTRATO ESTÁ REGISTRADO SOB O NÚMERO 1.042.622 NO CARTÓRIO DO 1° OFÍCIO DO REGISTRO
                DE TÍTULOS E DOCUMENTOS LOCALIZADO NO MUNICÍPIO DE CURITIBA 2
                PLANO DE SERVIÇOS: submodalidades pertencentes ao rol da modalidade
                BANDA EXTRA LARGA - BEL, que poderão ser contratadas pela Contratante
                e que estarão disponíveis no site www.telesynctelecom.com.
                SERVIÇOS OPCIONAIS: recursos e ou facilidades adicionais aos serviços
                originalmente solicitados, de contratação facultativa.
                PLANO DE SERVIÇOS OPCIONAIS: rol de serviços opcionais que poderão ser
                contratados por meio do site www.telesynctelecom.com.
                ESTUDO DE VIABILIDADE: análise técnica e de disponibilidade de rede para
                prestação do(s) serviço(s) pela Contratada.
                ENDEREÇO IP: designação dinâmica ou estática de IP-Internet Protocol
                utilizado durante a prestação do serviço para acesso à Internet, conforme
                submodalidade contratada.
                INTERFACE: ponto (porta) para conexão física e lógica entre os respectivos
                equipamentos das Partes, disponibilizado pela Contratada à Contratante para
                prestação do serviço.
                DATA DE ATIVAÇÃO: dia, mês e ano em que são concluídos os testes de
                aceitação dos serviços e iniciada a prestação do serviço.
                FICHA DE ATIVAÇÃO: documento emitido pela Contratada que deve ser
                assinado por representante da Contratante, no momento da ativação e
                entrega do(s) serviço(s) contratado(s).
                SERVIÇO DE ATIVAÇÃO/CONFIGURAÇÃO: valor em reais devido pela
                Contratante à Contratada em razão da instalação e ativação para fruição da
                prestação do(s) serviço(s) contratado(s).
                SERVIÇO DE IMPLANTAÇÃO DE REDE ÓPTICA DE ACESSO: valor em reais
                devido pela Contratante à Contratada quando o acesso físico se caracterizar
                como projeto especial para atendimento.
                SERVIÇO DE VISITA TÉCNICA: valor em reais devido em razão de
                atendimento pessoal realizado pela Contratada, por solicitação da
                Contratante, sem registro de anormalidade e ou de irregularidade a corrigir.
                MENSALIDADE: valor em reais faturado e cobrado mensalmente pela
                Contratada em decorrência do uso pela Contratante do(s) serviço(s) objeto
                deste Contrato.
                SERVIÇO DE REMANEJAMENTO: valor em reais devido pela Contratante em
                razão de serviço prestado pela Contratada para atendimento de solicitação de
                mudança de endereço ou de relocação de equipamento, interna ou
                externamente ao local onde esteja instalado.
                VELOCIDADE DE DOWNLOAD: quantidade de dados transferidos a cada
                segundo na Internet, através do serviço contratado, de um computador ou
                equipamento remoto para um computador ou equipamento conectado na rede
                local da Contratante.
                ESTE CONTRATO ESTÁ REGISTRADO SOB O NÚMERO 1.042.622 NO CARTÓRIO DO 1° OFÍCIO DO REGISTRO
                DE TÍTULOS E DOCUMENTOS LOCALIZADO NO MUNICÍPIO DE CURITIBA 3
                VELOCIDADE DE UPLOAD: quantidade de dados transferidos a cada segundo
                na Internet, através do serviço contratado, de um computador ou equipamento
                conectado na rede local da Contratante para um computador remoto ou
                equipamento.
                CANCELAMENTO: interrupção definitiva da prestação do(s) serviço(s) a
                pedido da Contratante.
                DESISTÊNCIA: cancelamento da solicitação do serviço pela Contratante, a
                qualquer momento entre o aceite e a efetiva entrega do serviço pela
                Contratada.
                ENCERRAMENTO: interrupção definitiva da prestação do(s) serviço(s), por
                iniciativa da Contratada.
                REATIVAÇÃO: restabelecimento da fruição da prestação do(s) serviço(s)
                contratado(s), após regularização de pendência de pagamento que motivou a
                suspensão.
                SUSPENSÃO: interrupção temporária da prestação do(s) serviços(s), por
                iniciativa da Contratada, em razão de pendência de pagamento pela
                Contratante ou motivada conforme definido em 3.7.
                MIGRAÇÃO: mudança de velocidade ou alteração de submodalidade de
                serviço por iniciativa da Contratante e/ou da Contratada nos casos descritos
                em 12.2 e 12.3.
                CLÁUSULA TERCEIRA – DA CONTRATAÇAO E DA PRESTAÇAO DO
                SERVIÇO
                3.1. A contratação do(s) serviço(s) é realizada por adesão e decorre da livre e
                espontânea decisão da Contratante, de acordo com as regras estabelecidas
                pela Contratada no site www.telesynctelecom.com, mediante prévia obtenção de
                conta–login e senha para uso exclusivo pela Contratante.
                3.1.1 Após a adesão, a Contratada apresentará proposta comercial referente
                ao(s) serviço(s) solicitado(s) e encaminhará à Contratante.
                3.1.2 A Contratante, a partir do recebimento da proposta comercial, dará o
                aceite eletronicamente, ratificando as condições negociais, momento em que o
                contrato será definitivamente celebrado.
                3.1.3. O uso da conta-login e da senha, fornecidos pela Contratada, é de
                exclusiva responsabilidade da Contratante, cabendo-lhe zelar pela segurança
                e sigilo requeridos, sob pena de arcar com eventuais prejuízos decorrentes de
                uso incorreto de tais informações.
                3.1.4. O processo de ativação do serviço, objeto deste contrato, será iniciado a
                partir da data de aceite mencionada no item 3.1.2.
                3.2. O pagamento da primeira fatura relativa ao(s) serviço(s) prestado(s) pela
                Contratante ratifica a contratação, nos termos previstos neste documento.
                ESTE CONTRATO ESTÁ REGISTRADO SOB O NÚMERO 1.042.622 NO CARTÓRIO DO 1° OFÍCIO DO REGISTRO
                DE TÍTULOS E DOCUMENTOS LOCALIZADO NO MUNICÍPIO DE CURITIBA 4
                3.3. A prestação dos serviços pela Contratada fica condicionada a
                disponibilização da infraestrutura interna e dos recursos de informática
                definidos no Anexo 1.
                3.4. A Contratada fica isenta de qualquer responsabilidade por
                incompatibilidades dos sistemas de informática e ou de softwares de
                propriedade da Contratante que impliquem em prejuízo à qualidade da
                prestação do serviço contratado.
                3.5. Para a prestação dos serviços, a Contratada atribuirá à Contratante, sem
                ônus adicional, 1 (um) endereço IP.
                3.6. Durante a prestação do serviço, a Contratada realizará atendimentos
                técnicos por solicitação da Contratante, os quais estarão sujeitos à cobrança
                de serviço de visita técnica com o valor disponível no site da Contratada ou
                mediante consulta junto a Central de Atendimento.
                3.7. No caso de descumprimento pela Contratante das obrigações e
                responsabilidades dispostas na Cláusula Sétima, subitens 7.3.7, 7.3.15 e ou
                7.3.16, a critério da Contratada, a prestação do(s) serviço(s) poderá ser
                suspenso, mediante prévio aviso e sem direito a indenização, ressarcimento ou
                desconto concernente a interrupção.
                3.7.1. A Contratada pode ainda, unilateralmente, optar pelo encerramento e
                consequente rescisão do contrato sem a incidência de quaisquer ônus ou
                penalidades à Contratada.
                3.8. A desistência sujeita a Contratante ao pagamento do serviço de
                ativação/configuração e do serviço de implantação de rede óptica de acesso,
                quando aplicáveis, exceto nas seguintes situações:
                3.8.1. Quando a desistência tenha sido motivada pela indisponibilidade da
                infraestrutura interna, conforme definida no Anexo 1.
                3.8.2. Quando for identificada, pela Contratada, inviabilidade técnica de
                atendimento no decorrer do processo de ativação do serviço.
                CLÁUSULA QUARTA – DA CONTRATAÇAO DE SERVIÇOS OPCIONAIS
                4.1. A Contratante, a qualquer momento, poderá solicitar, eletronicamente, a
                contratação de serviços opcionais através do site da Contratada, observadas
                as regras e condições estabelecidas por ela para a oferta destes serviços.
                4.2. A prestação de quaisquer dos serviços opcionais pela Contratada fica
                condicionada à existência de viabilidade técnica e disponibilidade de rede para
                o local de instalação indicado pela Contratante.
                4.3. Após realização da viabilidade técnica, a Contratada apresentará proposta
                comercial referente ao(s) serviço(s) solicitado(s) e encaminhará à Contratante.
                4.4. A Contratante, a partir do recebimento da proposta comercial, dará o
                aceite eletronicamente, ratificando as condições negociais, momento em que 
                ESTE CONTRATO ESTÁ REGISTRADO SOB O NÚMERO 1.042.622 NO CARTÓRIO DO 1° OFÍCIO DO REGISTRO
                DE TÍTULOS E DOCUMENTOS LOCALIZADO NO MUNICÍPIO DE CURITIBA 5
                tais serviços opcionais passarão a integrar o objeto do contrato, cuja tratativa
                seguirá as regras contidas neste instrumento.
                4.5. Os serviços opcionais serão cobrados mensalmente de acordo com a
                disciplina fixada na Cláusula Oitava deste instrumento.
                CLÁUSULA QUINTA – VIGÊNCIA
                5.1. Este contrato entra em vigor na data de adesão e permanecerá vigente
                até que ocorram as situações previstas na Cláusula Décima Primeira -
                Rescisão.
                CLÁUSULA SEXTA – DOCUMENTOS INTEGRANTES
                6.1. Integra este Instrumento:
                ● Anexo 1 – Requisitos de infraestrutura interna e de informática.
                CLÁUSULA SÉTIMA – OBRIGAÇÕES E RESPONSABILIDADES
                7.1. Obrigações e responsabilidades comuns as Partes:
                7.1.1. Executar testes em conjunto quando da ativação dos serviços pela
                Contratada.
                7.1.2. Ressarcir custos de reparação de equipamento e ou de instalação da
                outra Parte, quando causados comprovadamente e a qualquer tempo por
                representante da Parte reclamada, nas fases de pré-instalação, instalação,
                operação e desativação do serviço contratado.
                7.1.3. Assumir, sem prejuízo das demais disposições previstas neste Contrato,
                a responsabilidade perante a outra Parte por toda perda, dano direto e
                despesa comprovada na forma da lei, resultantes de conduta ou omissão
                culposa e ou dolosa, seja de empregado, preposto, agente ou terceiro
                contratado, durante a execução deste acordo, observado o disposto no item
                7.1.4.
                7.1.4. Salvo disposição legal ou regulamentar em contrário, a responsabilidade
                prevista neste Contrato, limitar-se-á a dano direto, comprovado pela Parte
                prejudicada, excluídos eventual dano indireto, força maior, caso fortuito,
                insucesso comercial e lucros cessantes.
                7.1.5. Notificar a outra Parte quando afetada por caso fortuito ou força maior
                que interfira na prestação do serviço, informando sobre a extensão do fato e
                sobre o prazo estimado durante o qual estará inabilitada a cumprir ou atrasará
                o cumprimento das obrigações decorrentes deste Contrato. Os casos fortuitos
                e de força maior são excludentes de responsabilidade na forma do artigo 393
                do Código Civil Brasileiro.
                7.1.6. Notificar a outra Parte quando estiverem cessados os efeitos de caso
                fortuito ou força maior, restabelecendo a situação original deste Contrato.
                ESTE CONTRATO ESTÁ REGISTRADO SOB O NÚMERO 1.042.622 NO CARTÓRIO DO 1° OFÍCIO DO REGISTRO
                DE TÍTULOS E DOCUMENTOS LOCALIZADO NO MUNICÍPIO DE CURITIBA 6
                7.1.7. Cumprir todas as demais respectivas obrigações e responsabilidades
                não afetadas por caso fortuito ou força maior, quando estes casos prejudiquem
                apenas parcialmente a execução das obrigações deste Contrato.
                7.1.8. Respeitar e fazer respeitar permanentemente os direitos autorais,
                marcas, patentes, segredos do negócio e indústria e outros direitos de
                propriedade intelectual da outra Parte e ou de fornecedores, e informar de
                imediato qualquer violação de que venha a ter conhecimento.
                7.1.9. Utilizar o nome, a marca, o logotipo, o símbolo do respectivo titular,
                somente por meio de consentimento, sempre por escrito, da outra Parte.
                7.2. Obrigações e responsabilidades da Contratada:
                7.2.1. Realizar no prazo máximo de 7(sete) dias, a contar da data do
                recebimento da solicitação, estudo de viabilidade e disponibilidade de rede
                para confirmar a possibilidade da prestação de quaisquer dos serviços a serem
                contratados.
                7.2.2. Prover a conexão à Internet, respeitando as características definidas no
                plano de serviços para o serviço escolhido pela Contratante.
                7.2.3. Atender a Contratante, esclarecendo dúvidas e ou respondendo
                reclamações sobre o(s) serviço(s) contratado(s).
                7.2.4. Respeitar a inviolabilidade e o sigilo da comunicação da Contratante.
                7.2.5. Corrigir em até 24(vinte e quatro) horas, após o registro da Contratante
                junto a Central de Atendimento, qualquer falha, anormalidade e ou
                irregularidade na rede de serviços utilizada na prestação do(s) serviço(s), até a
                interface, sem ônus para a Contratante quando esta estiver isenta de
                responsabilidade, não abrangendo falhas ou configurações inadequadas na
                infraestrutura ou sistemas da Contratante. O prazo de recuperação pode ser
                alterado mediante acordo entre as Partes, sendo reconhecido por
                manifestação e ou agendamento de atividade.
                7.2.6. Comunicar, com antecedência mínima de 7 (sete) dias, a necessidade de
                intervenção nos meios de transmissão e ou substituição de equipamentos
                próprios, sem ônus para a Contratante, que afetem a continuidade da
                prestação do(s) serviço(s) contratado(s). O prazo de 7 (sete) dias pode ser
                alterado mediante prévio acordo entre as Partes.
                7.2.7. Comunicar, com antecedência mínima de 30 (trinta) dias, a ocorrência de
                modificações nas especificações técnicas dos serviços, sem alteração na
                contraprestação pecuniária estabelecida neste contrato, sempre que
                necessárias, quando da ocorrência de atualização de programas,
                equipamentos e soluções tecnológicas nos meios utilizados para a prestação
                do(s) serviço(s).
                7.2.8. Avisar a Contratante, com antecedência mínima prevista pela legislação
                sobre a suspensão do(s) serviço(s) em razão de pendência de pagamento.
                ESTE CONTRATO ESTÁ REGISTRADO SOB O NÚMERO 1.042.622 NO CARTÓRIO DO 1° OFÍCIO DO REGISTRO
                DE TÍTULOS E DOCUMENTOS LOCALIZADO NO MUNICÍPIO DE CURITIBA 7
                7.2.9. Providenciar a reativação do serviço suspenso em até 24 (vinte e quatro)
                horas após confirmação do pagamento, exceto quando esse prazo findar aos
                sábados, domingos ou feriados.
                7.2.10. Disponibilizar ferramenta web no ambiente Internet para acesso da
                Contratante, mediante uso de conta-login e senha, para consulta do consumo
                do(s) serviço(s) prestado(s) sob demanda.
                7.2.11. Medir o plano de consumo do(s) serviço(s) prestado(s) sob demanda,
                definido(s) neste Contrato, de acordo com o período de medição escolhido pela
                Contratante.
                7.2.12. Fornecer à Contratante velocidade de conexão conforme definida no
                plano de serviços, cujo desempenho estará condicionado a disponibilidade
                momentânea de todos os meios alocados pelos diversos provedores da
                Internet em cada conexão utilizada.
                7.2.13. É responsabilidade da Contratada prestar adequadamente o serviço
                Banda Extra Larga – BEL, em conformidade com a legislação pertinente, em
                especial com a regulamentação do Serviço de Comunicação Multimídia, e
                disponibilizar as informações referentes ao serviço e suas respectivas
                condições comerciais através do site www.telesynctelecom.com ou mesmo de
                outro veículo pertinente, disponibilizado à Contratante para consulta.
                7.3. Obrigações e responsabilidades da Contratante:
                7.3.1. Permitir o acesso físico de representante(s) da Contratada, devidamente
                identificados, à(s) dependência(s) sob sua responsabilidade, garantindo livre
                exercício das atividades de instalação, manutenção e conservação de
                equipamentos da Contratada, bem como a fiscalização das quantidades do(s)
                serviço(s) em operação e em cobrança.
                7.3.2. Prover, instalar e manter a infraestrutura interna necessária ao(s)
                serviço(s) contratado(s), conforme definido no Anexo 1, incluindo a
                configuração de equipamentos de rede interna.
                7.3.3. Aceitar tacitamente a data e o resultado dos testes dos serviços de
                ativação, para todos os efeitos previstos neste contrato, quando da
                impossibilidade de participação ou ausência naqueles testes, com
                inobservância do subitem 7.1.1.
                7.3.4. Comunicar à Contratada, através da Central de Atendimento ao Cliente,
                quaisquer anomalias e ou irregularidades observadas nos serviços contratados.
                7.3.5. Cumprir prazos e condições contidas nos documentos de cobrança
                recebidos da Contratada em decorrência da prestação do(s) serviço(s).
                7.3.6. Responsabilizar-se, com exclusividade, pelos os efeitos causados por
                prática de qualquer ilícito civil, criminal e ou administrativo, por acessos não
                autorizados a equipamentos e sistemas de informática ou por alteração, furto,
                roubo ou destruição de equipamentos, arquivos de dados, programas,
                procedimentos ou informações de sua propriedade.
                ESTE CONTRATO ESTÁ REGISTRADO SOB O NÚMERO 1.042.622 NO CARTÓRIO DO 1° OFÍCIO DO REGISTRO
                DE TÍTULOS E DOCUMENTOS LOCALIZADO NO MUNICÍPIO DE CURITIBA 8
                7.3.7. Responsabilizar-se, com exclusividade, pela utilização do(s) serviço(s)
                apenas para os fins aos quais se prestam, evitando prática, por pessoal próprio
                ou terceirizado, nos meios de transmissão e equipamentos colocados à sua
                disposição pela Contratada, incluindo mas não se limitando a:
                a) Obtenção ou tentativa de obtenção dos serviços através de quaisquer
                meios ou equipamentos com a intenção de evitar o pagamento.
                b) Alteração e ou destruição de quaisquer dados de outros usuários
                conectados à rede Internet.
                c) Uso dos serviços como ferramenta para praticar ato ilícito ou em auxílio a
                qualquer meio ilegal.
                d) Comercialização, cessão, compartilhamento ou revenda do(s) serviço(s)
                contratado(s) , ou parte destes, a terceiros, sem a devida autorização da
                Contratada.
                e) Colocar, copiar, transmitir ou retransmitir material ilegal ou que ofenda a
                moral e os bons costumes.
                7.3.8. Isentar a Contratada de responsabilidade, por acessos sem autorização
                a equipamentos e sistemas de informática ou pela prática de quaisquer ilícitos
                civis, criminais e ou administrativos, bem como por alteração, furto, roubo ou
                destruição de equipamentos, de arquivos de dados, programas, procedimentos
                ou informações de propriedade da Contratante.
                7.3.9. Manter íntegros os equipamentos disponibilizados pela Contratada,
                evitando quaisquer alterações físicas e ou lógicas, sob pena indenização ou de
                perda de garantia.
                7.3.10. Manter dados cadastrais atualizados junto à Contratada e perante as
                entidades reguladoras da Internet no Brasil, este quando aplicável.
                7.3.11. Manter registros que identifiquem o usuário do endereço IP fornecido
                pela Contratada, nos casos de redistribuição.
                7.3.12. Preservar dados e ou restrições de acesso, considerando que a
                prestação do(s) serviço(s) pela Contratada exclui o fornecimento de
                mecanismos adicionais de segurança lógica de rede, filtros ou priorização de
                pacotes.
                7.3.13. Responder aos órgãos reguladores da Internet no Brasil e ou a
                terceiros, responsabilizando-se pelas consequências oriundas da utilização do
                endereço IP e por incidentes de segurança de rede, inclusive com a
                implementação de correções em sistemas, quando necessário.
                7.3.14. Comunicar ao Centro de Operação da Contratada, imediatamente,
                qualquer anomalia e ou irregularidade observada no desempenho do(s)
                serviço(s) contratado(s), utilizando os canais especificados no item 12.10.
                7.3.15. Realizar a conexão do(s) serviço(s) contratado(s) somente com outros
                serviços de telecomunicações que estejam em conformidade e em observância 
                ESTE CONTRATO ESTÁ REGISTRADO SOB O NÚMERO 1.042.622 NO CARTÓRIO DO 1° OFÍCIO DO REGISTRO
                DE TÍTULOS E DOCUMENTOS LOCALIZADO NO MUNICÍPIO DE CURITIBA 9
                com a regulamentação expedida pela Agência Nacional de Telecomunicações
                – Anatel e ou outras entidades competentes.
                7.3.16. Conectar aos equipamentos da Contratada, equipamentos com
                certificação expedida pela Agência Nacional de Telecomunicações – Anatel,
                sempre que exigida.
                7.3.17. Responsabilizar-se por eventual infração ao direito de uso de softwares
                e programas protegidos por marcas e patentes, respondendo por qualquer
                indenização devida e ou reclamação sobre utilização inadequada de produto
                protegido.
                7.3.18. Cumprir todas as obrigações estabelecidas neste contrato, no site
                www.telesynctelecom.com e na legislação pertinente.
                CLÁUSULA OITAVA – PREÇOS, CONDIÇÕES DE PAGAMENTO,
                REAJUSTES E ENCARGOS.
                8.1. Todos os serviços prestados, inclusive os serviços opcionais, serão
                cobrados mensalmente, através da respectiva nota fiscal-fatura, com
                demonstrativo contendo a relação atualizada de todos os serviços contratados
                e o respectivo documento de cobrança. O pagamento ratifica concordância
                com o rol de serviços cobrados pela Contratada.
                8.2. A nota fiscal-fatura mensal será encaminhada por meio eletrônico à
                Contratante, com antecedência mínima de 10(dez) dias à data de vencimento,
                estando a reprodução do documento original disponível no site da Contratada.
                8.3. Esclarecimentos adicionais sobre os valores e serviços faturados poderão
                ser obtidos via Central de Atendimento da Contratada.
                8.4. Não havendo o pagamento da fatura, nem a contestação do débito por
                parte da Contratante junto a Central de Atendimento da Contratada, será
                encaminhado aviso de cobrança alertando da existência de débito vencido,
                encargos moratórios aplicáveis e prazos para suspensão e encerramento dos
                serviços.
                8.5. O pagamento dos serviços prestados será realizado pela Contratante de
                acordo com as instruções constantes no documento de cobrança, sem isenção
                da responsabilidade de pagamento pela impossibilidade do recebimento da
                nota fiscal-fatura no prazo previsto.
                8.6. A data de vencimento para cobrança pelos serviços prestados, obedecerão
                às opções registradas pela Contratante no momento da contratação do(s)
                serviço(s).
                8.7. O período de medição, para fins de faturamento e de cobrança dos
                serviços contratados, inicia na data de ativação constante na ficha de ativação,
                com cálculo pró-rata die quando cabível, em função da escolha da data de
                vencimento pela Contratante.
                8.8. Através de registro de reclamação à Central de Atendimento ao Cliente, a
                Contratante poderá contestar a ativação dos serviços no prazo máximo de 
                ESTE CONTRATO ESTÁ REGISTRADO SOB O NÚMERO 1.042.622 NO CARTÓRIO DO 1° OFÍCIO DO REGISTRO
                DE TÍTULOS E DOCUMENTOS LOCALIZADO NO MUNICÍPIO DE CURITIBA 10
                24(vinte e quatro) horas, a contar da data de ativação. Após este prazo, os
                serviços serão considerados ativados para fins de faturamento e cobrança,
                sem direito à prorrogação e ou adiamento pela falta de utilização pela
                Contratante.
                8.9. Preço(s):
                8.9.1. O(s) preço(s) do(s) serviço(s) será(ão) aquele(s) vigente(s) quando da(s)
                solicitação(ões) e será(ão) aquele(s) apresentado(s) na proposta comercial.
                8.9.2. O preço do(s) serviço(s) contratado(s) será(ão) reajustado(s) a cada
                12(doze) meses ou na periodicidade mínima admitida em lei e sempre que
                permitido pela legislação, a partir da data de ativação, de acordo com a
                variação positiva do Índice Geral de Preços Disponibilidade Interna IGP-DI para
                o mesmo período, ou na falta deste, por índice que venha a substituí-lo. O
                preço reajustado será limitado ao valor da tabela de preços vigente à época.
                8.9.3. O preço do(s) serviço(s) pressupõe que a economia se manterá estável.
                Caso contrário, serão aplicadas ao contrato as disposições legais relativas à
                preservação do equilíbrio econômico-financeiro deste instrumento.
                8.9.4. A proposta comercial incluirá o serviço de ativação/configuração e o
                serviço de implantação de rede óptica de acesso, quando aplicáveis, e estará
                disponível à Contratante após conclusão do estudo de viabilidade,
                mencionado nos itens 4.2. e 7.2.1. deste documento.
                8.9.5. O serviço de ativação/configuração e o serviço de implantação de rede
                óptica de acesso serão cobrados na nota fiscal-fatura decorrente da prestação
                do serviço, de acordo com a opção de pagamento informada pela Contratante.
                8.9.6. Ao preço de cada serviço serão incorporados, automaticamente, novos
                tributos, tarifas, taxas, encargos, contribuições fiscais ou para-fiscais,
                previdenciárias e ou trabalhistas, ou modificações em alíquotas determinadas
                pelo fisco para arrecadação de tributos.
                8.9.7. Para o(s) plano(s) de serviço(s) aos quais estão relacionados franquias e
                direitos de consumo, quando estes não forem exauridos dentro do período de
                medição, não serão transportados para períodos de medição subsequentes.
                8.10. Encargos e penalidades:
                8.10.1. A falta de pagamento da mensalidade devida à Contratada até a data
                de vencimento sujeitará a Contratante aos encargos a seguir, independente de
                aviso ou interpelação judicial ou extrajudicial:
                a) Multa moratória de 2% (dois por cento) sobre o valor do principal,
                devida uma única vez, a partir do dia seguinte ao do vencimento.
                b) Atualização pró-rata die do valor devido, do dia seguinte ao
                vencimento até a data do efetivo pagamento, pelo Índice Geral de
                Preços – Disponibilidade Interna – IGP-DI ou por outro índice que venha
                a substituí-lo, acrescida da taxa de juros de 1% (um por cento) ao mês.
                ESTE CONTRATO ESTÁ REGISTRADO SOB O NÚMERO 1.042.622 NO CARTÓRIO DO 1° OFÍCIO DO REGISTRO
                DE TÍTULOS E DOCUMENTOS LOCALIZADO NO MUNICÍPIO DE CURITIBA 11
                8.10.2. Decorridos 10(dez) dias do vencimento da obrigação, em caso de
                inadimplência, o(s) serviço(s) contratado(s) estará(ão) sujeito(s) à suspensão,
                mediante prévio aviso pela Contratada.
                8.10.3. Decorridos 60(sessenta) dias do vencimento de qualquer valor sem
                pagamento ocorrerá, independente de aviso, o encerramento do contrato e a
                Contratada recolherá os equipamentos próprios instalados nas dependências
                da Contratante.
                CLÁUSULA NONA – DESCONTOS POR INTERRUPÇÃO
                9.1. Ocorrendo interrupção do(s) serviço(s) contratado(s) em decorrência de
                causa atribuível exclusivamente à Contratada, será concedido desconto na
                mensalidade subseqüente da data de regularização, de acordo com a fórmula
                abaixo:
                VM
                VD = x n , onde:
                1.440
                VD: Valor do desconto (R$);
                VM: Valor mensal do serviço aplicável no período da ocorrência (R$);
                n: quantidade de unidades de período de 30 (trinta) minutos.
                9.2. Será considerado como período mínimo para desconto, o intervalo de
                30(trinta) minutos consecutivos, a partir do registro de interrupção efetuado
                pela Contratante à Central de Atendimento ao Cliente da Contratada.
                9.3. Fração de tempo inferior a 30(trinta) minutos, para fins de desconto, será
                considerada como período inteiro no cálculo da variável “n” da fórmula
                especificada no item 9.1 desta cláusula.
                9.4. A concessão de desconto está descartada quando a Contratante
                descumprir o previsto no item 7.3.1. ou no caso de ocorrer interrupção
                programada por qualquer motivo, com prévia comunicação entre as Partes
                dentro da antecedência prevista no item 7.2.6, deste documento. Entre outros,
                são motivos para interrupção programada: testes, ajustes, manutenção
                preventiva e corretiva, substituição de equipamento e meio para provimento do
                serviço.
                CLÁUSULA DÉCIMA – ALTERAÇÕES, MUDANÇAS E CANCELAMENTOS.
                10.1. O cancelamento do(s) serviço(s) será realizado exclusivamente através
                da Central de Atendimento ao Cliente da Contratada.
                10.2. Alterações nas características e ou configurações de equipamentos ou
                do(s) serviço(s) e ou mudança de endereço solicitadas pela Contratante estão
                condicionadas à avaliação técnica pela Contratada.
                ESTE CONTRATO ESTÁ REGISTRADO SOB O NÚMERO 1.042.622 NO CARTÓRIO DO 1° OFÍCIO DO REGISTRO
                DE TÍTULOS E DOCUMENTOS LOCALIZADO NO MUNICÍPIO DE CURITIBA 12
                10.3. Nos casos de mudança de endereço, o novo local deverá estar dentro da
                área de abrangência da rede da Contratada. Confirmada tal condição, será
                disponibilizada proposta comercial para o atendimento da solicitação.
                10.3.1. Após aprovação da proposta comercial pela Contratante, através da
                Internet, a Contratada atenderá solicitação para alteração e ou mudança no
                prazo máximo de 60(sessenta) dias, condicionados ao atendimento pela
                Contratante dos requisitos especificados no Anexo 1 deste contrato.
                10.3.2. O valor do serviço de remanejamento será cobrado na mensalidade
                subsequente ao da conclusão do serviço.
                10.4. No decorrer do processo de remanejamento, poderá ser identificado pela
                Contratada a inviabilidade técnica de atendimento. Nesta situação, a
                Contratante ficará isenta do pagamento do serviço de remanejamento, sem
                isentá-la das demais penalidades decorrentes deste contrato, no caso de
                cancelamento.
                10.6. O período de faturamento do(s) serviço(s) cancelado(s) encerra-se na
                data do recebimento da solicitação pela Contratada, permanecendo vigentes
                as obrigações de pagamento relativas ao período em que o(s) serviço(s)
                foi(ram) prestado(s).
                10.7. O cancelamento da prestação do serviço sujeita a Contratante à
                quitação das parcelas vincendas do serviço de ativação/configuração e do
                serviço de implantação de rede óptica de acesso, quando aplicáveis.
                10.8. Na hipótese do cancelamento de cada serviço, num período inferior a 12
                (doze) meses a contar da data de ativação, sujeitará a Contratante ao
                pagamento de R$ 300,00 (trezentos reais) a título de ressarcimento dos
                investimentos realizados pela Contratada.
                10.9. O pagamento do valor referido em 10.8. não será aplicado nos casos de
                migração do serviço por qualquer outro serviço vinculado à modalidade
                BANDA EXTRA BARGA – BEL.
                10.10. A Contratada pode criar, alterar ou modificar e excluir serviço(s)
                opcional(is), a qualquer tempo, disponibilizando à Contratante a versão do
                Plano de Serviços Opcionais para consulta, sem prejuízo dos direitos
                garantidos a Contratante pelas normas regulatórias e a legislação aplicável às
                relações de consumo.
                CLÁUSULA DÉCIMA PRIMEIRA – RESCISÃO
                O presente Contrato será rescindido, sem desobrigar a Contratante do
                pagamento dos valores devidos à Contratada em função do(s) serviço(s)
                prestado(s) anteriormente à rescisão, pelas seguintes hipóteses:
                11.1. Em razão de falência e ou recuperação judicial; por solicitação de
                qualquer das Partes; por mútuo acordo entre elas; por determinação legal; ou
                por ordem emanada de autoridade competente.
                ESTE CONTRATO ESTÁ REGISTRADO SOB O NÚMERO 1.042.622 NO CARTÓRIO DO 1° OFÍCIO DO REGISTRO
                DE TÍTULOS E DOCUMENTOS LOCALIZADO NO MUNICÍPIO DE CURITIBA 13
                11.2. Existência de inadimplência superior a 60 (sessenta) dias, conforme
                estabelece o subitem 8.10.3., da Cláusula Oitava – Preços, Condições de
                Pagamento, Reajustes e Encargos.
                CLÁUSULA DÉCIMA SEGUNDA – DISPOSIÇÕES GERAIS
                12.1. As disposições deste Contrato poderão ser revistas em razão de
                alterações supervenientes da legislação.
                12.2. A Contratada poderá, mediante prévio aviso, alterar ou modificar as
                características técnicas do(s) serviço(s) contratado(s) a qualquer tempo, sendo
                facultado à Contratante a opção de migração, mediante solicitação através da
                Central de Atendimento ao Cliente da Contratada.
                12.3. Mediante prévio comunicado à Contratante, atualizações neste
                instrumento poderão ser realizadas pela Contratada, de forma a refletir
                adequadamente o entendimento de eventuais modificações em características
                técnicas de serviço(s) contratado(s) ou refletir a necessidade de ajuste por
                exigência legal ou repactuação de outras condições nele estabelecidas.
                12.4. A abstenção por qualquer das Partes do exercício do direito ou de
                faculdade que lhes assista o presente Contrato, ou a concordância com atraso
                no cumprimento de obrigação da outra Parte, mantém direitos ou faculdades
                que poderão ser exercidos, a qualquer tempo e a critério exclusivo de cada
                uma, sem alterar as condições estipuladas neste acordo.
                12.5. É vedada às Partes, seja a que título for, a cessão, transferência e ou
                subcontratação, parcial ou total, dos direitos e ou obrigações adquiridos e ou
                assumidos em decorrência deste Contrato.
                12.6. As Partes reconhecem o presente Contrato como título executivo, na
                forma dos artigos 583 e 585, inciso II, do Código de Processo Civil.
                12.7. As cláusulas deste Contrato e de disposições constantes em seu Anexo
                que tenham por natureza caráter perene, especialmente as relativas à
                remuneração, direitos de propriedade intelectual e confidencialidade,
                sobreviverão ao término ou rescisão do presente instrumento.
                12.8. Na hipótese de que qualquer cláusula, termo ou disposição deste
                Contrato possa ser declarada inválida, ilegal ou inexequível, a validade,
                legalidade ou exequibilidade das demais disposições permanecerão vigentes,
                de qualquer modo.
                12.9. A regulamentação associada aos serviços que são especificados neste
                Contrato pode ser encontrada no site da Agência Nacional de
                Telecomunicações – Anatel – www.anatel.gov.br – com a qual também
                poderão ser mantidos contatos: através da Central de Atendimento - telefone
                1331; através de correspondência para a Assessoria de Relações com o
                Usuário – ARU, SAUS Quadra 06, Bloco F, 2º andar, Brasília - DF, CEP:
                70.070-940; ou através de atendimento pessoal na Sala do Cidadão, à Rua
                Vicente Machado, nº 720 – Batel – Cep 80420-011 – Curitiba-PR.
                ESTE CONTRATO ESTÁ REGISTRADO SOB O NÚMERO 1.042.622 NO CARTÓRIO DO 1° OFÍCIO DO REGISTRO
                DE TÍTULOS E DOCUMENTOS LOCALIZADO NO MUNICÍPIO DE CURITIBA 14
                12.10. O atendimento pela Contratada será realizado pela Central de
                Atendimento ao Cliente – 0800 414181 - durante as 24 horas do dia.
                12.11. A Contratante autoriza o envio de e-mails, mala direta, encartes ou
                qualquer instrumento de comunicação utilizado para oferta de serviços e ou
                produtos da Contratada ou de parceiras desta. Tal autorização pode ser
                revogada, a qualquer momento, através de solicitação da Contratante à
                Central de Atendimento ao Cliente da Contratada.
                12.12. Cabe a cada Parte, bem como às demais empresas encarregadas da
                execução do(s) serviço(s) ora contratado(s), particularmente e com
                exclusividade, o cumprimento das respectivas obrigações trabalhistas, sociais,
                previdenciárias, securitárias, fiscais e tributárias, na forma da legislação em
                vigor, sem estabelecimento de vínculo empregatício com funcionário, dirigente
                e ou preposto umas das outras, nem tampouco o estabelecimento de qualquer
                forma de associação, solidariedade ou vínculo societário.
                12.13. A formalização da autorização referida em 7.3.7. “d” dependerá de
                avaliação unilateral da Contratada, não cabendo à Contratante qualquer
                direito ou isenção de obrigações adquiridas e ou assumidas em decorrência
                deste Contrato.
                CLÁUSULA DÉCIMA TERCEIRA – SUB-ROGAÇÃO
                13.1. O presente Contrato obriga as Partes e seus sucessores.
                13.2. Em caso de transferência da autorização da Contratada ou
                reestruturação societária das Partes, sub-roga-se à entidade sucessora em
                todos os direitos e obrigações assumidas neste Contrato.
                CLÁUSULA DÉCIMA QUARTA – CONFIDENCIALIDADE
                14.1. As Partes manterão confidencialidade sobre informações sigilosas e
                sensíveis (informações proprietárias) deste Contrato, indicadas ou resultantes
                inequivocamente da própria natureza do presente acordo.
                14.2. Em caso de cancelamento, encerramento ou suspensão deste Contrato,
                as Partes se obrigam a cessar imediatamente o uso de eventuais informações
                proprietárias ou confidenciais.
                14.3. A aceitação deste Contrato não implica cessão ou transferência à
                Contratante ou a terceiro de quaisquer direitos de propriedade intelectual ou
                informações confidenciais da Contratada e ou fornecedores desta.
                CLÁUSULA DÉCIMA QUINTA – FORO
                15.1. As Partes elegem o foro da cidade de Curitiba-PR para dirimir questões
                decorrentes da execução deste Contrato, em detrimento de outro, por mais
                privilegiado que seja ou se torne.
                ESTE ANEXO ESTÁ REGISTRADO SOB O NÚMERO 1.042.623 NO CARTÓRIO DO 1° OFÍCIO DO REGISTRO DE
                TÍTULOS E DOCUMENTOS LOCALIZADO NO MUNICÍPIO DE CURITIBA 15
                ANEXO 1
                A1 - Requisitos de infraestrutura interna e de informática
                A1. 1 Requisitos de infraestrutura
                A1.1.1. São de responsabilidade da Contratante, sem se limitar a eles, os itens
                e as condições seguintes:
                A1.1.1.1. Prover, instalar e manter a infraestrutura necessária à
                disponibilização do serviço contratado.
                A1.1.1.2. Fornecer dutos livres, quando necessário, para passagem de cabo
                óptico na edificação onde será instalado o modem ou equipamento de
                conexão.
                A1.1.1.3. Disponibilizar bandeja ou suporte para instalação do modem ou
                equipamento de conexão.
                A1.1.1.4. Fornecer energia para alimentação ininterrupta em 127Vca
                monofásica ou 220Vca, com tomada de 3 pinos tipo 2P+T com o terceiro pino
                aterrado instalada com distância de até um metro e meio da posição do
                equipamento terminal.
                A1.1.1.5. Garantir que o aterramento da tomada seja a mesma utilizada para o
                equipamento de conexão da Contratante.
                A1.1.1.6. Fornecer e conectar o cabo de interligação compatível com a
                interface digital solicitada.
                A1.1.2. Manter o local de instalação livre de agentes agressores, como
                infiltração de água, gases nocivos e outros, e sem materiais estranhos que
                possam afetar o desempenho e a integridade dos equipamentos, preservando
                correto funcionamento destes.
                A1.2 Requisitos de informática
                A1.2.1. Utilizar equipamentos com interface elétrica compatível com padrão
                Fast Ethernet 100Mbps (RJ45), como requisito mínimo indispensável para a
                fruição da prestação do serviço pela Contratada.
            </textarea>
        </div>
        <div class="buttons">
            <div>
                <button mat-raised-button class="btn_link" (click)="alertarFinalizar()" color="primary">Finalizar</button>
            </div>
            <div>
                <button mat-raised-button class="btn_link" (click)="alertarCancelar()" color="primary">Cancelar</button>
            </div>
        </div>
    </div>
</mat-card>