.home{
    width: 100%;
    min-width: 1100px;
    min-height: 620px;
    display: flex;
    flex-direction: column;
}

.logo:focus{
    outline: none;
    box-shadow: none;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #FFF;
    border-bottom: 5px solid rgb(253,71,85);
}

.header_home{
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home {
    margin-bottom: 10px;
    margin: 0;
    background-color: #FFF;
}

.home .title {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
}

.home .subtitle {
    font-size: 1.1rem;
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
}

.container {
    display: flex;
    position: relative;
    min-height: 450px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.btn_cadastro {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(253,71,85);
}